body{
    font-family: 'Lato', sans-serif;
    height: 100%;
    width: 100%;
    margin: 0 auto; 
    max-width: 1920px; 
}

/* Navigation menu styling */

.nav-bg-img{
    background-image:url(images/climate_wide_photo_cred.jpg); 
    background-size: cover;
    background-repeat: no-repeat; 
    height: 800px; 
    left: 0;
    top: 0; 
}

.nav-bg-color{
    background-color: rgba(0, 0, 0, 0.7); 
}

.nav_wrapper .logo img{
    width: 220px; 
    margin: 20px 0 0 20px;  
}

.nav_wrapper .top-nav a{
    color: white; 
    text-decoration: none;
    font-size: 120%;
    display: block;
    text-align: right; 
    padding: 5px 15px;
    margin-right: 35px;
    border-bottom: 4px solid rgba(0,0,0,0.0); 
}

#pop-menu{
    display: none; 
    min-height: 200px;
}

.nav_wrapper a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 30px;
    text-decoration: none;
    margin: 10px 20px 0 0; 
    font-size: 150%; 
    color: white; 
}





/* Styling of home-page above the fold*/

.nav_wrapper .SDG-goal{
    position: relative;  
     
    
}

.nav_wrapper .SDG-goal img{
    width: 25%; 
    padding: 30% 0 0 30%; 
}

.nav_wrapper .SDG-goal h1{
    color: white;   
    margin: 0 auto; 
    margin-left: 30%; 
    padding-top: 20px; 
    
}

.nav_wrapper .SDG-goal p{
    border-bottom: 5px solid #648FCB; 
    padding-bottom: 5px;
    font-size: 90%;
    max-width: 290px; 
    color: white; 
    margin-left: 30%; 
    margin-top: 0; 
}

/* Below fold styling*/

.below-fold h1{
    padding: 60px 10% 50px; 
    text-align: center; 
    color: #6D6D6D;
}

.below-fold{
    text-align: center;
    font-size: 90%; 
    color: #6D6D6D;
}


.fact-box-wrapper{
    text-align: center; 
    color: #707070;
    font-size: 120%;
}

.fact-box i{
    border-radius: 100%; 
    background-color: #648FCB;
    color: white; 
    padding: 45px;
    font-size: 180%; 
    margin: 10px; 
    min-width: 38px; 
    border: 5px solid rgba(0,0,0,0);
    z-index: 99;
}

.fact-box{
    z-index: 99;
     margin: 10px; 
}

.fact-box3{
    margin-bottom: 100px; 
}

.fact-box i:hover{
    transform: scale(1.1); 
    transition: all 0.6s;
}


/* Call to action box styling*/

.cta-wrapper{
    margin: 0 auto; 
    text-align: center; 
    color: white; 
    background-color: #648FCB;
    padding-bottom: 40px; 
    margin: 3px 0; 
   
}

.cta-wrapper-grid{
    margin: 0 4px; 
    
}



.cta-wrapper h2{
    margin: 0 auto; 
    padding: 50px 10% 30px; 
    font-size: 150%;
}

.cta-wrapper .cta-text{
    padding: 10px 50px 40px 50px; 
    margin: 0 10%;
    font-size: 110%; 
}

.cta-wrapper a{
    text-decoration: none; 
   
}

.cta-button{
    color: #648FCB; 
    padding: 15px 30px; 
    background-color: white; 
    font-size: 120%;
    font-weight: bold; 
    border-radius: 4px; 
    min-width: 240px; 
    max-width: 260px; 
}

.cta-button:hover{
    transform: scale(1.1); 
    border: 2px solid  #648FCB; 
    transition: all 0.4s;
}


.SDG-wheel{
    margin: 100px 10% 60px;
    text-align: center; 
}

.SDG-wheel img{
   width: 90%; 
}

.SDG-wheel img:hover{
    opacity: 0.7;
}



.SDG-goals-wrapper{
    text-align: center; 
    margin: 0 10%; 
}

.SDG-goals-wrapper p{
    color: #707070; 
    text-align: left; 
    
    
}

.SDG-goals-wrapper img{
    width: 100%;
    margin: 0 auto;
}

.SDG-goals-wrapper img:hover{
    opacity: 0.6;  
     border: 1px solid rgba(0,0,0,0); 
}



a{
    text-decoration: none; 
}

.cta-button2{
    border: 1px solid #648FCB; 
    margin: 30px
    
}


.partner-logos{
    text-align: center; 
    margin: 30px 10% 40px; 
    
}


.partner-logos img{
    width: 100%; 
}

.partner-logo-yara img{
    width: 30%; 
}

.partner-logo-last{
    margin-bottom: 100px; 
}


.footer-wrapper{
    background-color: rgba(0, 0, 0, 0.7); 
    color: white; 
    text-align:  center; 
    padding: 20px; 
}

.footer-wrapper .social-icons a{
    color: white;
    text-decoration: none; 
    padding: 15px;
    font-size: 120%; 
}

.footer-wrapper p{
    margin-top: 0; 
    margin-bottom: 20px; 
}

.footer-wrapper h2{
    margin-bottom: 5px; 
}

.email-sub-wrapper{
    margin-bottom: 30px; 
    display: grid; 
    grid-template-columns: repeat(6, 1fr); 
}

.email-sub-input{
    grid-column: 3/4;
    grid-row: 1;   
}

.email-sub-btn{
    grid-column: 4/5;
    grid-row: 1;   
}



.email-sub-wrapper a{
    margin-top: 130px; 
}

.error{
    color: white;
    background-color: red;
    margin: 5%; 
    padding: 1%; 
    border-radius: 4px; 
    display: none; 
}

.error-sub{
    color: white; 
    background-color: red; 
    padding: 10px;  
    display: none; 
    margin-top: 10px; 
    border-radius: 2px; 
    font-size: 90%; 
}

.email{
    padding: 10px 40px; 
    min-width: 80px;
    max-width: 100px; 
    border-radius: 4px; 
    border: none; 
    
}

.email-sub-button{
    padding: 10px 40px; 
    background-color: #648FCB; 
    border-radius: 4px; 
    margin-left: 20px; 
    color: white; 
    border: none; 
}

.ind-bio-wrapper{
    margin: 0 10%; 
    color: #707070; 
}

.ind-bio-wrapper img:hover{
    opacity: 0.6; 
}

.ind-bio-wrapper h4{
    margin: 0; 
}

.ind-bio-wrapper h3{ 
    margin-bottom: 3px;  
}

.ind-bio-text{ 
    text-align: center; 
}


/* About us & Google Map styling */

.about-us{
    margin: 0 10%; 
    color: #707070;
}

.about-us .about-us-intro-text{
    font-size: 120%;
}

.click-down{
    float: right;
}

#moreReadingTrigger:hover{
    cursor: pointer; 
}

#moreReadingTrigger{
    padding: 10px 0; 
    color: white;
    background-color:  #648FCB; 
    border-radius: 3px;    
}

#moreReadingTrigger span, i{
    margin: 0 30px; 
}



.accordian{
    display: none; 
}


.about-us h2{
    text-align: center; 
}


.about-us h3{
    text-align: center; 
    padding: 30px 0 10px 0; 
    margin-bottom: 0; 

}


.UN-local-wrapper{
    margin: 10px 10%; 
    align-content: center;
    text-align: center;
    display: inline-grid; 
    grid-template-columns: repeat(2, 1fr); 
}

.UN-local-wrapper .map_link{
    text-decoration: none; 
    padding: 10px 20px; 
    color: white;
    background-color: #648FCB;
    border-radius: 4px;  
    margin: 10px 8px;
    border: 2px solid #648FCB;
    min-width: 100px;
    max-width: 120px; 
}

.UN-local-wrapper .map_link:hover{
    transform: scale(1.05); 
    transition: all 0.4s;
}

.gmap{
    margin: 0 auto; 
    border: 2px solid #648FCB;
    border-radius: 4px;
    width: 100%;  
}

.gmap_wrapper{
    margin: 0 10%; 
    color: #707070;
}

.gmap_wrapper h2{
    text-align: center; 
    margin-top: 60px;
    grid-column-start: 1;
    grid-column-end: 3; 
}

.localdescrp-text-span{
    font-weight: 100; 
}

.UN-localdescrp h3{
    margin: 5px;  
    margin-left: 0;
}

.UN-localdescrp{
    margin: 20px 15px 0; 
}

.clearfix::after {
   content: "";
   clear: both;
   display: table;
 }




.gmap_wrapper h2{
 
}

.meet-the-board{
    margin: 50px; 
}


.about-us-hr{
    margin-top: 8%;
    margin-bottom: 8%;
    max-width: 400px; 
}

.hr-no-btm{
    margin-bottom: 50px; 
}


.UN-localdescrp .local-social-icons a{
    text-decoration: none; 
    color: #648FCB;
    font-size: 160%; 
    padding: 10px; 
    margin: 5px; 
}

.local-social-icons{
    display: inline-block;
    
}



.UN-localdescrp .local-social-icons a:hover{
    transform: scale(1.4);
    transition: all 0.4s;
}


/* Get involved Styling */

.SDG-wheel-get-invl{
    margin-top: 0; 
}

.vision-video{
    width: 80%; 
    margin: 0 auto; 
}

.get-inv-video video{
    align-content: center;
    padding: 15px;
    margin: 20px 20px 0; 
    border: 1px solid #c1c1c1;
    border-radius: 4px; 
}

.get-invl-intr-text{
    padding: 5% 0; 
}

.SDG-list-wrapper{
    margin: 20px 10%; 
    display: grid; 
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 10px; 
    border: 1px solid #c1c1c1; 
    border-radius: 4px; 
}

.SDG-list-Square img{
    padding: 25px;
    width: 100%; 
    border-radius: 28px;
}

.SDG-list-req{
    padding: 25px;
    grid-column-start: 2;
    grid-column-end: 5; 
}

.SDG-list-req img{
    width: 100%; 
    border-radius: 3px; 
}

.SDG-list-req p{
    margin: 5px 0 0; 
    font-size: 55%;
}

.SDG-list-wrapper:hover{
    opacity: 0.8; 
    transform: scale(1.03); 
     transition: all 0.8s;
    text-decoration: underline; 
}


/* Styling of contact form */

.contact-us{
    margin: 0 10% 20px; ;  
    text-align: left;  
    font-size: 100%; 
    color: #7d7d7d; 
}

.form-wrapper{
    color: #7d7d7d; 
    margin: 0 10% 10%; 
}

.contact-form{
    padding: 10px 20px; 
    margin: 5px 0; 
    min-width: 350px; 
    min-height: 20px; 
    border-radius: 4px; 
    border: 1px solid #c1c1c1;
}


.email-wrapper, .message-wrapper, .subject-wrapper, .form-fn-ln, .form-btn-wrapper{
    margin: 0 10%; ; 
}



.form-btn-wrapper .form-btn{
    padding: 10px 40px; 
    margin: 15px 3px;
    color: white; 
    background-color:  #648FCB;
    font-size: 100%; 
    border-radius: 4px; 
}

.form-btn-wrapper .form-btn:hover{
    transform: scale(1.1);
    transition: all 0.6s; 
}

.placeholder-txt{
    font-style: oblique;
    
}
































































/**Small devices (landscape phones, 576px and up)**/

@media (min-width: 576px) {
/* About US page styling */
    
 
.exec-team-wrapper{
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
}
    
    
.SDG-list-req p{
    font-size: 80%; 
}
    
    

    


   
    
    
    
    
    
    
}
    
    




/** Medium devices (tablets, 768px and up)**/
@media (min-width: 768px) {
    
.nav-bg-img{
    background-image:url(images/climate_wide_photo_cred.jpg);  
    height: 1000px; 
}
    

    
.active{
    border-bottom: 4px solid #7DB3FF !Important; 
}

.nav_wrapper .top-nav a:hover{
    border-bottom: 4px solid #7DB3FF;
    transition: all 0.4s;
    
}
.nav_wrapper .logo img{
    padding: 30px;
    margin: 30px 0 0 15%;   
    min-width: 200px; 
}
    
.nav_menu_wrapper{
    display: grid; 
    }

.nav_wrapper .fa-bars{
    display: none; 
    }
    
#pop-menu{
    display: inline-block; 
    grid-column-start: 4;
    grid-column-end: 6;
    margin: 100px 15% 0 0; 
    font-size: 120%; 
    text-align: right; 
    min-height: 0px;
}
    
#pop-menu a{
    display: inline-block; 
    margin: 0 auto;
    padding: 0;
    margin: 5px 15px;
}
    
/*#pop-menu a:hover{
    border-bottom: 3px solid #7DB3FF;     
    }*/
    
    
/* Styling of home-page above the fold*/



.nav_wrapper .SDG-goal img{
    margin: 0 auto; 
    width: 15%; 
    padding: 10% 0 0 50%; 
}

.nav_wrapper .SDG-goal h1{
    margin: 0 auto; 
    margin-left: 50%;   
}
    
.nav_wrapper .SDG-goal h1{
    font-size: 280%; 
}

.nav_wrapper .SDG-goal p{
    border-bottom: 5px solid #648FCB; 
    padding-bottom: 5px;
    font-size: 180%;
    max-width: 500px; 
    margin-left: 50%;   
    
}
    
.below-fold{
    font-size: 120%; 
}
    
    




/* Fact box grid */

    
.fact-box-wrapper{
    display:grid; 
    grid-template-columns: repeat(12, 1fr); 
    margin: 0 10% 0 10%; 
    color: #707070;
  
    }  
    
.fact-box1{
    grid-column: 2/4;
    grid-row: 1;   
    min-width: 200px; 
    max-width: 250px; 
    font-size: 100%; 
    
    }
    

.fact-box2{
    grid-column: 6/8;
    grid-row: 1;   
    min-width: 200px; 
    max-width: 250px; 
    font-size: 100%; 
    }
.fact-box3{
    grid-column: 10/12;
    grid-row: 1;  
    min-width: 200px; 
    max-width: 250px; 
    font-size: 100%; 
    }
    
.cta-wrapper .cta-text{
    font-size: 130%; 
}



/* CTA grid*/
    
.cta-wrapper-grid{
    display:grid; 
    grid-template-columns: repeat(2, 1fr);   
    grid-gap: 3px; 
    margin-top: 100px; 
    margin-top: 100px; 
}
    
.cta-wrapper{
    min-height: 400px; 
}
    
.cta-wrapper h2{
    margin-top: 40px;
    font-size: 180%; 
}
    
.cta-wrapper p{
    font-size: 140%;     
    }    
    


    
.SDG-goals-wrapper p{ 
    font-size: 130%;
    }
    
.cta-button2{
    margin: 100px;     
    }
    
    
/* About US page styling */
    
.UN-local-wrapper{
    grid-template-columns: repeat(3, 1fr); 
}
    
.gmap{
    grid-column-start: 1;
    grid-column-end: 2; 
    margin-left: 40px;
}

.gmap_wrapper{
    display: grid;
    grid-template-columns: repeat (2, 1fr); 
    grid-gap: 20px;
    
}

.gmap_wrapper h2{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: 160%; 
    margin-top: 10px;
}

.UN-localdescrp{
    grid-column-start: 2;
    grid-column-end: 3; 
    margin-left: 100px;
    
}
    
.UN-localdescrp h3{
    margin: 5px; 
    margin-left: 0;
    font-size: 120%;
    }
    
.UN-localdescrp h2{ 
    margin-left: 0;
    text-align: left;
     text-decoration: underline;
    }
    

    
.about-us .about-us-intro-text{
    font-size: 105%;
}
    
.about-us h2{
    font-size: 160%;
}
    
.about-us h3{
    font-size: 160%;
    padding: 0 10%;
    margin: 60px;
}

.UN-local-wrapper .map_link{ 
    min-width: 200px;
    max-width: 220px; 
    font-size: 170%;     
}
    
.UN-localdescrp .local-social-icons a{
    font-size: 200%; 
}
    
.ind-bio-text{ 
/*    font-size: 100%; */
}

    
   
    
/* Footer styling */
    
.email-sub-wrapper{
    margin: 20px 0 50px; 
}
    
.email-sub-wrapper .email{
    font-size: 110%; 
    min-width: 180px;
    max-width: 200px; 
    }
.email-sub-wrapper .email-sub-button{
    font-size: 110%;     
    } 
    
.email-sub-wrapper .email-sub-button:hover{
    transform: scale(1.1); 
    }  
    
.social-icons{
    font-size: 140%;    
    }


.footer-wrapper h3, .footer-wrapper h4{
    font-size: 130%;     
    }
    
.footer-wrapper p, .footer-wrapper {
    font-size: 110%;     
    }
    
    
/* Styling of Get involved*/
    
.SDG-list-req p{
    font-size: 110%;
     margin: 13px 0 0; 
}
    
.get-invl-intr-text{
        font-size: 130%;
    }       
    
    
/* Contact us styling */
    
.form-wrapper #email, .form-wrapper #subject, .form-wrapper #form-message, .form-fn, .form-ln {
    min-width: 600px;   
    }
    
.form-wrapper{
    font-size: 130%;     
    margin: 0 20% 10%; 
}

    
    
    





    
    
    
    
    
    
}








/** Large devices (desktops, 992px and up)**/
@media (min-width: 992px) {
    
.exec-team-wrapper{
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    margin: 0 10%;
}
    
.SDG-goals-wrapper{
    display:grid; 
    grid-template-columns: repeat(2, 1fr);   
    grid-gap: 3px; 
    }
    
.SDG-list-req p{
    font-size: 140%; 
     margin: 20px 0 0; 
}
    
    
    
    
    
    
    
}

/** Extra large devices (large desktops, 1200px and up)**/
@media (min-width: 1200px) {
   
.
    
}
    
